h1/* Selector */{
    /* Declaration */
    color/* Property */:blue/* Property Value */;
    font-size: 60px;
    background-color: gray;
}

/* Selectors */
/* Conecta um elemento HTML com o CSS */

/* Tipos
    * Global selector
    'h1,h2,p, div' Element/Type selector
    #box ID selector
    .box Class selector

    a[target] Attribute selector ex: <a href="http://www.disney.com" target="_blank">disney.com</a>

    selector:pseudo-class Pseudo-class selector ex: a:hover | a:visited

    selector::pseudo-element Pseudo=element selector ex: p::first-letter
    for more https://www.w3schools.com/css/css_pseudo_elements.asp

    etc
*/