*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 50px;
    flex-wrap: wrap;
    gap: 20px 15px;
    
}
@media (max-width: 620px) {
    .container{
        justify-content: center;
    }
}

.logo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.links{
    display: flex;
    gap: 0px 10px;
}

a{
    display: flex;
    
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: lightgray;
    
    
}
a:hover{
    border-color: red;
    transition: border-color 1000ms linear;
    
}